TOKEN 123 : {
TOKEN 259 : int
TOKEN 279 : a
TOKEN  61 : =
TOKEN 277 : 1.1
TOKEN  59 : ;
TOKEN 259 : int
TOKEN 279 : a
TOKEN  61 : =
TOKEN 277 : 1.0
TOKEN  59 : ;
TOKEN 259 : int
TOKEN 279 : a
TOKEN  61 : =
TOKEN 277 : 0.1
TOKEN  59 : ;
TOKEN 259 : int
TOKEN 279 : a
TOKEN  61 : =
TOKEN 277 : 1.11111
TOKEN  59 : ;
TOKEN 259 : int
TOKEN 279 : a
TOKEN  61 : =
TOKEN 277 : .1
TOKEN  59 : ;
TOKEN 259 : int
TOKEN 279 : a
TOKEN  61 : =
TOKEN 277 : .0112
TOKEN  59 : ;
TOKEN 259 : int
TOKEN 279 : a
TOKEN  61 : =
TOKEN 277 : 123.123
TOKEN  59 : ;
TOKEN 259 : int
TOKEN 279 : a
TOKEN  61 : =
TOKEN 277 : 5.0
TOKEN  59 : ;
TOKEN 259 : int
TOKEN 279 : a
TOKEN  61 : =
TOKEN 277 : 5.00
TOKEN  59 : ;
TOKEN 259 : int
TOKEN 279 : a
TOKEN  61 : =
TOKEN 277 : 1.1
TOKEN  59 : ;
TOKEN 259 : int
TOKEN 279 : a
TOKEN  61 : =
TOKEN 277 : 1.0
TOKEN  59 : ;
TOKEN 259 : int
TOKEN 279 : a
TOKEN  61 : =
TOKEN 277 : 0.1
TOKEN  59 : ;
TOKEN 259 : int
TOKEN 279 : a
TOKEN  61 : =
TOKEN 277 : 1.11111
TOKEN  59 : ;
TOKEN 259 : int
TOKEN 279 : a
TOKEN  61 : =
TOKEN 277 : .1
TOKEN  59 : ;
TOKEN 259 : int
TOKEN 279 : a
TOKEN  61 : =
TOKEN 277 : .0112
TOKEN  59 : ;
TOKEN 259 : int
TOKEN 279 : a
TOKEN  61 : =
TOKEN 277 : 123.123
TOKEN  59 : ;
TOKEN 259 : int
TOKEN 279 : a
TOKEN  61 : =
TOKEN 277 : 5.0
TOKEN  59 : ;
TOKEN 259 : int
TOKEN 279 : a
TOKEN  61 : =
TOKEN 277 : 5.00
TOKEN  59 : ;
TOKEN 259 : int
TOKEN 279 : a
TOKEN  61 : =
TOKEN  45 : -
TOKEN 277 : 1.1
TOKEN  59 : ;
TOKEN 259 : int
TOKEN 279 : a
TOKEN  61 : =
TOKEN  45 : -
TOKEN 277 : 1.0
TOKEN  59 : ;
TOKEN 259 : int
TOKEN 279 : a
TOKEN  61 : =
TOKEN  45 : -
TOKEN 277 : 0.1
TOKEN  59 : ;
TOKEN 259 : int
TOKEN 279 : a
TOKEN  61 : =
TOKEN  45 : -
TOKEN 277 : 1.11111
TOKEN  59 : ;
TOKEN 259 : int
TOKEN 279 : a
TOKEN  61 : =
TOKEN  45 : -
TOKEN 277 : .1
TOKEN  59 : ;
TOKEN 259 : int
TOKEN 279 : a
TOKEN  61 : =
TOKEN  45 : -
TOKEN 277 : .0112
TOKEN  59 : ;
TOKEN 259 : int
TOKEN 279 : a
TOKEN  61 : =
TOKEN  45 : -
TOKEN 277 : 123.123
TOKEN  59 : ;
TOKEN 259 : int
TOKEN 279 : a
TOKEN  61 : =
TOKEN  45 : -
TOKEN 277 : 5.0
TOKEN  59 : ;
TOKEN 259 : int
TOKEN 279 : a
TOKEN  61 : =
TOKEN  45 : -
TOKEN 277 : 5.00
TOKEN  59 : ;
TOKEN 125 : }
