TOKEN 123 : {
TOKEN 259 : int
TOKEN 279 : myid
TOKEN  61 : =
TOKEN 278 : 1
TOKEN  59 : ;
TOKEN 259 : int
TOKEN 279 : my_id
TOKEN  61 : =
TOKEN 278 : 1
TOKEN  59 : ;
TOKEN 259 : int
TOKEN 279 : id
TOKEN  61 : =
TOKEN 278 : 1
TOKEN  59 : ;
TOKEN 259 : int
TOKEN 279 : _sample_id
TOKEN  61 : =
TOKEN 278 : 1
TOKEN  59 : ;
TOKEN 259 : int
TOKEN 279 : _
TOKEN  61 : =
TOKEN 278 : 1
TOKEN  59 : ;
TOKEN 259 : int
TOKEN 279 : i5d3
TOKEN  61 : =
TOKEN 278 : 1
TOKEN  59 : ;
TOKEN 259 : int
TOKEN 279 : i34
TOKEN  61 : =
TOKEN 278 : 1
TOKEN  59 : ;
TOKEN 125 : }
