TOKEN 123 : {
TOKEN 259 : int
TOKEN 279 : a
TOKEN  61 : =
TOKEN 278 : 1
TOKEN  59 : ;
TOKEN 259 : int
TOKEN 279 : a
TOKEN  61 : =
TOKEN 278 : 0
TOKEN  59 : ;
TOKEN 259 : int
TOKEN 279 : a
TOKEN  61 : =
TOKEN  45 : -
TOKEN 278 : 0
TOKEN  59 : ;
TOKEN 259 : int
TOKEN 279 : a
TOKEN  61 : =
TOKEN 278 : 62
TOKEN  59 : ;
TOKEN 259 : int
TOKEN 279 : a
TOKEN  61 : =
TOKEN  45 : -
TOKEN 278 : 12
TOKEN  59 : ;
TOKEN 259 : int
TOKEN 279 : a
TOKEN  61 : =
TOKEN 278 : 1234
TOKEN  59 : ;
TOKEN 259 : int
TOKEN 279 : a
TOKEN  61 : =
TOKEN 278 : 100
TOKEN  59 : ;
TOKEN 125 : }
