TOKEN 123 : {
TOKEN 274 : vec4
TOKEN 279 : fCol
TOKEN  61 : =
TOKEN 279 : gl_color
TOKEN  59 : ;
TOKEN 274 : vec4
TOKEN 279 : fTex
TOKEN  61 : =
TOKEN 279 : gl_TexCoord
TOKEN  59 : ;
TOKEN 274 : vec4
TOKEN 279 : eyeNorm
TOKEN  59 : ;
TOKEN 274 : vec4
TOKEN 279 : coeff
TOKEN  59 : ;
TOKEN 274 : vec4
TOKEN 279 : shade
TOKEN  59 : ;
TOKEN 261 : const
TOKEN 274 : vec4
TOKEN 279 : lVec
TOKEN  61 : =
TOKEN 279 : env1
TOKEN  59 : ;
TOKEN 261 : const
TOKEN 274 : vec4
TOKEN 279 : lHalf
TOKEN  61 : =
TOKEN 279 : gl_Light_Half
TOKEN  59 : ;
TOKEN 261 : const
TOKEN 274 : vec4
TOKEN 279 : red
TOKEN  61 : =
TOKEN 274 : vec4
TOKEN  40 : (
TOKEN 277 : 1.0
TOKEN  44 : ,
TOKEN 277 : 0.0
TOKEN  44 : ,
TOKEN 277 : 0.0
TOKEN  44 : ,
TOKEN 277 : 1.0
TOKEN  41 : )
TOKEN  59 : ;
TOKEN 279 : eyeNorm
TOKEN  61 : =
TOKEN 279 : fTex
TOKEN  59 : ;
TOKEN 279 : eyeNorm
TOKEN  91 : [
TOKEN 278 : 3
TOKEN  93 : ]
TOKEN  61 : =
TOKEN 264 : dp3
TOKEN  40 : (
TOKEN 279 : eyeNorm
TOKEN  44 : ,
TOKEN 279 : eyeNorm
TOKEN  41 : )
TOKEN  59 : ;
TOKEN 279 : eyeNorm
TOKEN  91 : [
TOKEN 278 : 3
TOKEN  93 : ]
TOKEN  61 : =
TOKEN 264 : rsq
TOKEN  40 : (
TOKEN 279 : eyeNorm
TOKEN  91 : [
TOKEN 278 : 3
TOKEN  93 : ]
TOKEN  41 : )
TOKEN  59 : ;
TOKEN 279 : eyeNorm
TOKEN  61 : =
TOKEN 279 : eyeNorm
TOKEN  42 : *
TOKEN 279 : eyeNorm
TOKEN  91 : [
TOKEN 278 : 3
TOKEN  93 : ]
TOKEN  59 : ;
TOKEN 279 : shade
TOKEN  61 : =
TOKEN 279 : gl_Light_Ambient
TOKEN  42 : *
TOKEN 279 : fCol
TOKEN  59 : ;
TOKEN 279 : coeff
TOKEN  91 : [
TOKEN 278 : 0
TOKEN  93 : ]
TOKEN  61 : =
TOKEN 264 : dp3
TOKEN  40 : (
TOKEN 279 : lVec
TOKEN  44 : ,
TOKEN 279 : eyeNorm
TOKEN  41 : )
TOKEN  59 : ;
TOKEN 279 : coeff
TOKEN  91 : [
TOKEN 278 : 1
TOKEN  93 : ]
TOKEN  61 : =
TOKEN 264 : dp3
TOKEN  40 : (
TOKEN 279 : lHalf
TOKEN  44 : ,
TOKEN 279 : eyeNorm
TOKEN  41 : )
TOKEN  59 : ;
TOKEN 279 : coeff
TOKEN  91 : [
TOKEN 278 : 3
TOKEN  93 : ]
TOKEN  61 : =
TOKEN 279 : gl_Material_Shininess
TOKEN  91 : [
TOKEN 278 : 0
TOKEN  93 : ]
TOKEN  59 : ;
TOKEN 279 : coeff
TOKEN  61 : =
TOKEN 264 : lit
TOKEN  40 : (
TOKEN 279 : coeff
TOKEN  41 : )
TOKEN  59 : ;
TOKEN 279 : shade
TOKEN  61 : =
TOKEN 279 : shade
TOKEN  43 : +
TOKEN 279 : coeff
TOKEN  91 : [
TOKEN 278 : 1
TOKEN  93 : ]
TOKEN  42 : *
TOKEN 279 : fCol
TOKEN  59 : ;
TOKEN 279 : shade
TOKEN  61 : =
TOKEN 279 : shade
TOKEN  43 : +
TOKEN 279 : coeff
TOKEN  91 : [
TOKEN 278 : 2
TOKEN  93 : ]
TOKEN  42 : *
TOKEN 279 : fCol
TOKEN  59 : ;
TOKEN 279 : gl_FragColor
TOKEN  61 : =
TOKEN 279 : shade
TOKEN  59 : ;
TOKEN 125 : }
