TOKEN 123 : {
TOKEN 274 : vec4
TOKEN 279 : temp
TOKEN  59 : ;
TOKEN 265 : if
TOKEN  40 : (
TOKEN 263 : true
TOKEN  41 : )
TOKEN 123 : {
TOKEN 279 : temp
TOKEN  91 : [
TOKEN 278 : 0
TOKEN  93 : ]
TOKEN  61 : =
TOKEN 279 : gl_Color
TOKEN  91 : [
TOKEN 278 : 0
TOKEN  93 : ]
TOKEN  42 : *
TOKEN 279 : gl_FragCoord
TOKEN  91 : [
TOKEN 278 : 0
TOKEN  93 : ]
TOKEN  59 : ;
TOKEN 279 : temp
TOKEN  91 : [
TOKEN 278 : 1
TOKEN  93 : ]
TOKEN  61 : =
TOKEN 279 : gl_Color
TOKEN  91 : [
TOKEN 278 : 1
TOKEN  93 : ]
TOKEN  42 : *
TOKEN 279 : gl_FragCoord
TOKEN  91 : [
TOKEN 278 : 1
TOKEN  93 : ]
TOKEN  59 : ;
TOKEN 279 : temp
TOKEN  91 : [
TOKEN 278 : 2
TOKEN  93 : ]
TOKEN  61 : =
TOKEN 279 : gl_Color
TOKEN  91 : [
TOKEN 278 : 2
TOKEN  93 : ]
TOKEN  59 : ;
TOKEN 279 : temp
TOKEN  91 : [
TOKEN 278 : 3
TOKEN  93 : ]
TOKEN  61 : =
TOKEN 279 : gl_Color
TOKEN  91 : [
TOKEN 278 : 3
TOKEN  93 : ]
TOKEN  42 : *
TOKEN 279 : gl_FragCoord
TOKEN  91 : [
TOKEN 278 : 0
TOKEN  93 : ]
TOKEN  42 : *
TOKEN 279 : gl_FragCoord
TOKEN  91 : [
TOKEN 278 : 1
TOKEN  93 : ]
TOKEN  59 : ;
TOKEN 125 : }
TOKEN 267 : else
TOKEN 123 : {
TOKEN 279 : temp
TOKEN  61 : =
TOKEN 279 : gl_Color
TOKEN  59 : ;
TOKEN 125 : }
TOKEN 279 : gl_FragColor
TOKEN  61 : =
TOKEN 279 : temp
TOKEN  59 : ;
TOKEN 125 : }
